#image {
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  grid-area: image;
  border-radius: 25px;
  margin: 5px;
}

#profil {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background: yellow;
  grid-area: profil;
  border-radius: 25px;
  margin: 5px;
}

#evolution {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background: blue;
  grid-area: evolution;
  border-radius: 25px;
  margin: 5px;
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: green;
  grid-area: stats;
  border-radius: 25px;
  margin: 5px;
  overflow: hidden;
}

.image-responsive {
  width: 50%;
  height: auto;
}
